<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="kanake6_sim_0808_4.SLDASM">
  <link
    name="head">
    <inertial>
      <origin
        xyz="-0.0202156710748115 -1.43465418462842E-07 -1.56480055908645E-06"
        rpy="0 0 0" />
      <mass
        value="0.0366319470948477" />
      <inertia
        ixx="6.20591511809944E-06"
        ixy="-5.30087560675052E-11"
        ixz="1.18696434390736E-09"
        iyy="8.25464507263961E-06"
        iyz="-2.13167538413562E-10"
        izz="7.9841166433742E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/head.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/head.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-0.0149144121017575 -3.73601402370638E-07 2.49693079046398E-08"
        rpy="0 0 0" />
      <mass
        value="0.0712511533582805" />
      <inertia
        ixx="1.04159884007023E-05"
        ixy="1.86218037779566E-10"
        ixz="-3.01043285853867E-11"
        iyy="1.64748507384434E-05"
        iyz="-1.82879175460889E-10"
        izz="1.64641321531213E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1"
    type="revolute">
    <origin
      xyz="-0.0473500000047962 0 0"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="head" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-0.0149144121027439 3.73601402673656E-07 -2.49693082275148E-08"
        rpy="0 0 0" />
      <mass
        value="0.0712511533582804" />
      <inertia
        ixx="1.04159884007023E-05"
        ixy="-1.86218037781345E-10"
        ixz="3.01043285841085E-11"
        iyy="1.64748507384434E-05"
        iyz="-1.8287917545946E-10"
        izz="1.64641321531213E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j2"
    type="revolute">
    <origin
      xyz="-0.0426 0 0"
      rpy="1.5707963267949 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="-0.0149144121037305 -3.73601402389964E-07 2.49693078994172E-08"
        rpy="0 0 0" />
      <mass
        value="0.0712511533582807" />
      <inertia
        ixx="1.04159884007024E-05"
        ixy="1.86218037778639E-10"
        ixz="-3.01043285855072E-11"
        iyy="1.64748507384434E-05"
        iyz="-1.8287917546012E-10"
        izz="1.64641321531213E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j3"
    type="revolute">
    <origin
      xyz="-0.0426 0 0"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="-0.014914412104717 3.73601402679989E-07 -2.49693078684838E-08"
        rpy="0 0 0" />
      <mass
        value="0.0712511533582804" />
      <inertia
        ixx="1.04159884007023E-05"
        ixy="-1.86218037781387E-10"
        ixz="3.01043285846702E-11"
        iyy="1.64748507384434E-05"
        iyz="-1.82879175459146E-10"
        izz="1.64641321531213E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j4"
    type="revolute">
    <origin
      xyz="-0.0426000000000001 0 0"
      rpy="1.5707963267949 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="-0.0149144121057032 -3.73601402771206E-07 2.49693078958993E-08"
        rpy="0 0 0" />
      <mass
        value="0.0712511533582805" />
      <inertia
        ixx="1.04159884007023E-05"
        ixy="1.86218037769402E-10"
        ixz="-3.01043285813447E-11"
        iyy="1.64748507384434E-05"
        iyz="-1.82879175458866E-10"
        izz="1.64641321531213E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j5"
    type="revolute">
    <origin
      xyz="-0.0426 0 0"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="-0.0149144121066896 3.73601402685979E-07 -2.49693064988724E-08"
        rpy="0 0 0" />
      <mass
        value="0.0712511533582805" />
      <inertia
        ixx="1.04159884007023E-05"
        ixy="-1.86218037775192E-10"
        ixz="3.01043285873544E-11"
        iyy="1.64748507384434E-05"
        iyz="-1.82879175459083E-10"
        izz="1.64641321531214E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j6"
    type="revolute">
    <origin
      xyz="-0.0426 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link7">
    <inertial>
      <origin
        xyz="-0.014914412107676 -3.73601404135501E-07 2.49693078945668E-08"
        rpy="0 0 0" />
      <mass
        value="0.0712511533582806" />
      <inertia
        ixx="1.04159884007023E-05"
        ixy="1.86218037787259E-10"
        ixz="-3.01043285861876E-11"
        iyy="1.64748507384434E-05"
        iyz="-1.82879175460281E-10"
        izz="1.64641321531214E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j7"
    type="revolute">
    <origin
      xyz="-0.0426 0 0"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="Link6" />
    <child
      link="Link7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link8">
    <inertial>
      <origin
        xyz="-0.0149144121086625 3.73601402681106E-07 -2.49693065571068E-08"
        rpy="0 0 0" />
      <mass
        value="0.0712511533582805" />
      <inertia
        ixx="1.04159884007023E-05"
        ixy="-1.86218037774057E-10"
        ixz="3.01043285848922E-11"
        iyy="1.64748507384434E-05"
        iyz="-1.82879175459633E-10"
        izz="1.64641321531214E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link8.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link8.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j8"
    type="revolute">
    <origin
      xyz="-0.0426 0 0"
      rpy="1.5707963267949 0 0" />
    <parent
      link="Link7" />
    <child
      link="Link8" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link9">
    <inertial>
      <origin
        xyz="-0.0149144121096488 -3.73601403966509E-07 2.49693079023524E-08"
        rpy="0 0 0" />
      <mass
        value="0.0712511533582805" />
      <inertia
        ixx="1.04159884007023E-05"
        ixy="1.86218037784249E-10"
        ixz="-3.01043285852313E-11"
        iyy="1.64748507384434E-05"
        iyz="-1.82879175458617E-10"
        izz="1.64641321531213E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link9.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link9.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j9"
    type="revolute">
    <origin
      xyz="-0.0426 0 0"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="Link8" />
    <child
      link="Link9" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link10">
    <inertial>
      <origin
        xyz="-0.0149144121106352 3.73601402682021E-07 -2.49693066177178E-08"
        rpy="0 0 0" />
      <mass
        value="0.0712511533582806" />
      <inertia
        ixx="1.04159884007023E-05"
        ixy="-1.86218037776686E-10"
        ixz="3.01043285870288E-11"
        iyy="1.64748507384434E-05"
        iyz="-1.82879175460266E-10"
        izz="1.64641321531214E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link10.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link10.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j10"
    type="revolute">
    <origin
      xyz="-0.0426 0 0"
      rpy="1.5707963267949 0 0" />
    <parent
      link="Link9" />
    <child
      link="Link10" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LInk11">
    <inertial>
      <origin
        xyz="-0.0149144121016217 -3.73601403947252E-07 2.49693079064027E-08"
        rpy="0 0 0" />
      <mass
        value="0.0712511533582805" />
      <inertia
        ixx="1.04159884007023E-05"
        ixy="1.86218037780712E-10"
        ixz="-3.01043285810132E-11"
        iyy="1.64748507384434E-05"
        iyz="-1.82879175458604E-10"
        izz="1.64641321531213E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/LInk11.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/LInk11.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j11"
    type="revolute">
    <origin
      xyz="-0.04260000001 0 0"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="Link10" />
    <child
      link="LInk11" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link12">
    <inertial>
      <origin
        xyz="-0.0149144121026081 3.7360140266623E-07 -2.49693066434054E-08"
        rpy="0 0 0" />
      <mass
        value="0.0712511533582805" />
      <inertia
        ixx="1.04159884007023E-05"
        ixy="-1.86218037778163E-10"
        ixz="3.01043285854559E-11"
        iyy="1.64748507384434E-05"
        iyz="-1.82879175458545E-10"
        izz="1.64641321531213E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link12.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link12.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j12"
    type="revolute">
    <origin
      xyz="-0.0426 0 0"
      rpy="1.5707963267949 0 0" />
    <parent
      link="LInk11" />
    <child
      link="Link12" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link13">
    <inertial>
      <origin
        xyz="-0.0149144121035945 -3.73601403985894E-07 2.4969307889184E-08"
        rpy="0 0 0" />
      <mass
        value="0.0712511533582805" />
      <inertia
        ixx="1.04159884007023E-05"
        ixy="1.86218037769167E-10"
        ixz="-3.01043285852837E-11"
        iyy="1.64748507384434E-05"
        iyz="-1.82879175459957E-10"
        izz="1.64641321531214E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link13.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link13.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j13"
    type="revolute">
    <origin
      xyz="-0.0426 0 0"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="Link12" />
    <child
      link="Link13" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link14">
    <inertial>
      <origin
        xyz="-0.014914412104581 3.7360140268683E-07 -2.49693066062861E-08"
        rpy="0 0 0" />
      <mass
        value="0.0712511533582805" />
      <inertia
        ixx="1.04159884007023E-05"
        ixy="-1.86218037776627E-10"
        ixz="3.01043285849108E-11"
        iyy="1.64748507384434E-05"
        iyz="-1.82879175460148E-10"
        izz="1.64641321531214E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link14.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link14.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j14"
    type="revolute">
    <origin
      xyz="-0.0426 0 0"
      rpy="1.5707963267949 0 0" />
    <parent
      link="Link13" />
    <child
      link="Link14" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link15">
    <inertial>
      <origin
        xyz="-0.0149144121055674 -3.73601403994292E-07 2.49693079071226E-08"
        rpy="0 0 0" />
      <mass
        value="0.0712511533582805" />
      <inertia
        ixx="1.04159884007023E-05"
        ixy="1.86218037776854E-10"
        ixz="-3.01043285841821E-11"
        iyy="1.64748507384434E-05"
        iyz="-1.82879175458843E-10"
        izz="1.64641321531214E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link15.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/Link15.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j15"
    type="revolute">
    <origin
      xyz="-0.0426 0 0"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="Link14" />
    <child
      link="Link15" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="tail">
    <inertial>
      <origin
        xyz="-0.029369081482287 -1.78870155543698E-06 -7.22138155213988E-09"
        rpy="0 0 0" />
      <mass
        value="0.101630885268055" />
      <inertia
        ixx="1.48846790268216E-05"
        ixy="3.12521137612277E-09"
        ixz="-1.03182631288335E-12"
        iyy="4.61731081327436E-05"
        iyz="-1.31870601123907E-09"
        izz="4.52018388107927E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/tail.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kanake6_sim_0808_4.SLDASM/meshes/tail.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j16"
    type="revolute">
    <origin
      xyz="-0.0426 0 0"
      rpy="1.5707963267949 0 0" />
    <parent
      link="Link15" />
    <child
      link="tail" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>